.box{
	height: 100px;
	background-color: chocolate;
	border-bottom: 5px solid black;
}

.box2{
	height: 100px;
	background-color: lightpink;
	border-bottom: 5px solid black;
}

.box3{
	height: 100px;
	background-color: bisque;
	border-bottom: 5px solid black;
}

.box4{
	height: 100px;
	background-color: lightcoral;
	border-bottom: 5px solid black;
}

.row{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 400;
}